# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev/

# logs / os
*.log
.DS_Store
coverage/
